body {
    padding: 0;
    margin: 0;
}

.main-container {
    background-color: #c4d4e9;
    position:absolute;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.contenedor {
    width: 30%;
    height: 80%;
    background-color: white;
    text-align: center;
    position: absolute;
    border-radius: 15px;
    
}
.contenedor img{
    position: relative  ;
    border-radius: 15px;
    width: 91%;
    top: 15px;
}

.contenedor h2{
    padding-left: 43px;
    padding-right: 43px;
    padding-top: 15px;
    font-size: 24px;
    font-family: 'Outfit', sans-serif;
}

.contenedor p{
    padding-left: 63px;
    padding-right: 63px;
    font-size: 15px;
    color: #949494;
    font-family: 'Outfit', sans-serif;
}

.attribution{
    position: absolute;
    padding-top: 630px;
    font-family: 'Outfit', sans-serif;
}
.attribution a{
   text-decoration: none;
}

@media (max-width: 400px) {

    .main-container {
        background-color: #c4d4e9;
        position:absolute;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    
    }
    
    .contenedor {
        width: 85%;
        height: 80%;
        background-color: white;
        text-align: center;
        position: absolute;
        border-radius: 15px;
        
    }
    .contenedor img{
        position: relative  ;
        border-radius: 15px;
        width: 91%;
        top: 15px;
    }
    
    .contenedor h2{
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 15px;
        font-size: 24px;
        font-family: 'Outfit', sans-serif;
    }
    
    .contenedor p{
        padding-left: 30px;
        padding-right: 30px;
        font-size: 15px;
        color: #949494;
        font-family: 'Outfit', sans-serif;
    }
    
    .attribution{
        position: absolute;
        padding-top: 600px;
        font-family: 'Outfit', sans-serif;
        font-size: 11px;
    }
    .attribution a{
       text-decoration: none;
       font-size: 11px;
    }
    
}